In [1]:
import pandas as pd

In [3]:
meta_data = pd.read_csv('restaurants.csv', index_col=0)
meta_data.head(5)

,name,price,type,rating,rating_number,location,website,contact_number,opening_hours,about,image_source,created_at,updated_at
id,,,,,,,,,,,,,
1,Eastway Brasserie,£25 and under,British,3.7,1461,Liverpool Street,https://eastwaybrasserie.com/?src=prop_misc_lo...,020 7618 7400,Breakfast Daily 07:00–11:30 Lunch Mon–Fri,Sun 12:00–17:00 Brunch Sat 12:00–16:00 Dinner...,https://images.otstatic.com/prod/24868488/1/me...,2022-01-26 16:46:11.975299+00,2022-01-26 16:46:11.975299+00
2,Gaucho City,£41 and over,Steak,4.3,1730,Fenchurch Street,http://www.gauchorestaurants.co.uk/,020 7626 5180,Mon–Fri 12:00–22:00 Sat 17:00–22:00,Gaucho City is one of London’s hidden gems. Th...,https://images.otstatic.com/prod/25200368/1/me...,2022-01-26 16:46:11.990484+00,2022-01-26 16:46:11.990484+00
3,M Threadneedle Street,£41 and over,Steakhouse,4.4,2264,Bank,http://www.mrestaurants.co.uk/,020 3327 7770,Mon–Sat 12:00–22:00,M Restaurants take inspiration from six differ...,https://images.otstatic.com/prod/27181612/1/me...,2022-01-26 16:46:11.997451+00,2022-01-26 16:46:11.997451+00
4,Miyako at Andaz,£26 to £40,Japanese,4.0,225,Liverpool Street,https://www.hyattrestaurants.com/en/dining/uk/...,020 7618 7100,Tue–Sat 17:00–22:00 Sit down & Takeaway Tue–Sa...,Boasting an AA Rosette,https://images.otstatic.com/prod/27877738/4/me...,2022-01-26 16:46:12.003669+00,2022-01-26 16:46:12.003669+00
5,Hawksmoor Guildhall,£25 and under,Steakhouse,4.7,3285,Bank,https://thehawksmoor.com/locations/guildhall/,020 7397 8120,Mon–Fri 17:00–21:30 Tue–Fri 12:00–14:30 Sat 17...,Situated in the heart of The City,https://resizer.otstatic.com/v2/photos/medium/...,2022-01-26 16:46:12.006337+00,2022-01-26 16:46:12.006337+00

In [4]:
C = meta_data['rating'].mean()
C

4.382178217821783

In [5]:
m = meta_data['rating_number'].quantile(0.9)
m

2264.0

In [6]:
q_restaurants = meta_data.copy().loc[meta_data['rating_number'] >= m]
q_restaurants.shape

(11, 13)

In [7]:
meta_data.shape

(101, 13)

In [8]:
def weighted_rating(x, m=m, C=C):
    v = x['rating_number']
    R = x['rating']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [9]:
q_restaurants['score'] = q_restaurants.apply(weighted_rating, axis=1)
q_restaurants.head(20)

,name,price,type,rating,rating_number,location,website,contact_number,opening_hours,about,image_source,created_at,updated_at,score
id,,,,,,,,,,,,,,
3,M Threadneedle Street,£41 and over,Steakhouse,4.4,2264,Bank,http://www.mrestaurants.co.uk/,020 3327 7770,Mon–Sat 12:00–22:00,M Restaurants take inspiration from six differ...,https://images.otstatic.com/prod/27181612/1/me...,2022-01-26 16:46:11.997451+00,2022-01-26 16:46:11.997451+00,4.391089
5,Hawksmoor Guildhall,£25 and under,Steakhouse,4.7,3285,Bank,https://thehawksmoor.com/locations/guildhall/,020 7397 8120,Mon–Fri 17:00–21:30 Tue–Fri 12:00–14:30 Sat 17...,Situated in the heart of The City,https://resizer.otstatic.com/v2/photos/medium/...,2022-01-26 16:46:12.006337+00,2022-01-26 16:46:12.006337+00,4.570328
17,Bread Street Kitchen & Bar — St Paul's,£26 to £40,Modern European,4.2,4164,St Paul's,https://www.gordonramsayrestaurants.com/bread-...,020 3030 4050,Mon–Wed 07:30–00:00 Thu,Fri 07:30–01:00 Sat 11:30–01:00 Sun 10:30–21:00,https://images.otstatic.com/prod/26336524/3/me...,2022-01-26 16:46:12.054032+00,2022-01-26 16:46:12.054032+00,4.264165
18,1 Lombard Street Brasserie,£41 and over,British,4.3,3766,Bank,http://www.1lombardstreet.com/,020 7929 6611,Breakfast Mon–Fri 07:30–09:45 Lunch Mon–Fri 11...,1 Lombard Street is one of the longest standin...,https://images.otstatic.com/prod1/42304143/3/m...,2022-01-26 16:46:12.060202+00,2022-01-26 16:46:12.060202+00,4.330854
19,Coq d’Argent Restaurant,£41 and over,French,4.5,5702,Bank,http://www.coqdargent.co.uk/,020 7395 5000,Lunch Mon–Fri 12:00–15:00 Brunch Sat 12:00–15:...,High above the City you'll find a classic Fren...,https://images.otstatic.com/prod/24611265/1/me...,2022-01-26 16:46:12.06645+00,2022-01-26 16:46:12.06645+00,4.466514
31,Cinnamon Kitchen,£26 to £40,Indian,4.2,2636,Liverpool Street,http://www.cinnamon-kitchen.com/,020 7626 5000,Tue–Sat 12:00–23:00 Sun 12:00–22:00,Located in the striking Devonshire Square deve...,https://images.otstatic.com/prod1/47090119/3/m...,2022-01-26 16:46:12.119425+00,2022-01-26 16:46:12.119425+00,4.284174
39,The Ivy City Garden,£25 and under,Contemporary British,4.5,4712,Liverpool Street,https://theivycitygarden.com/,020 3146 7744,Mon–Fri 08:00–00:00 Sat 11:00–00:00 Sun 11:00–...,Located in the historic Bishopsgate Gardens,https://images.otstatic.com/prod/25086287/1/me...,2022-01-26 16:46:12.148426+00,2022-01-26 16:46:12.148426+00,4.461762
42,Yauatcha City,£25 and under,Chinese,4.3,2351,Liverpool Street,http://www.yauatcha.com/,020 3817 9888,Tue,Wed 11:30–22:00 Thu,https://images.otstatic.com/prod/23889651/1/me...,2022-01-26 16:46:12.159335+00,2022-01-26 16:46:12.159335+00,4.340315
43,St. John,£41 and over,British,4.8,2986,Farringdon,http://www.stjohnrestaurant.com/,020 7251 0848,Lunch Mon–Sat 12:00–15:00 Sun 12:00–16:00 Dinn...,Fergus Henderson’s original home of “Nose to T...,https://images.otstatic.com/prod1/41871637/1/m...,2022-01-26 16:46:12.163062+00,2022-01-26 16:46:12.163062+00,4.619819
68,Kenza,£26 to £40,Lebanese,4.4,3584,Aldgate,http://www.kenza-restaurant.com/,020 7929 5533,Hours of Operation Lunch Mon–Fri 12:00–17:00 D...,Sat 17:00–23:00,https://images.otstatic.com/prod/23679952/1/me...,2022-01-26 16:46:12.256977+00,2022-01-26 16:46:12.256977+00,4.393100
72,Paternoster Chop House,£26 to £40,British,4.5,2336,St Paul's,http://www.paternosterchophouse.co.uk/,020 7029 9400,Tue 12:00–21:00 Sat 12:00–22:30 Sun 12:00–16:30,We are bringing back the great British Chop Ho...,https://images.otstatic.com/prod1/41938559/2/m...,2022-01-26 16:46:12.265058+00,2022-01-26 16:46:12.265058+00,4.442011

In [12]:
q_restaurants = q_restaurants.sort_values('score', ascending=False)
q_restaurants[['name', 'rating', 'rating_number', 'score']].head(20)

                                      name  rating  rating_number     score
id
43                                St. John     4.8           2986  4.619819
5                      Hawksmoor Guildhall     4.7           3285  4.570328
19                 Coq d’Argent Restaurant     4.5           5702  4.466514
39                     The Ivy City Garden     4.5           4712  4.461762
72                  Paternoster Chop House     4.5           2336  4.442011
68                                   Kenza     4.4           3584  4.393100
3                    M Threadneedle Street     4.4           2264  4.391089
42                           Yauatcha City     4.3           2351  4.340315
18              1 Lombard Street Brasserie     4.3           3766  4.330854
31                        Cinnamon Kitchen     4.2           2636  4.284174
17  Bread Street Kitchen & Bar — St Paul's     4.2           4164  4.264165

In [13]:
q_restaurants.head(20).to_csv('restaurants_with_score.csv')

In [17]:
meta_data['About Section'].head()

0    Boasting an AA Rosette, Eastway is an all-day ...
1    \nGaucho City is one of London’s hidden gems. ...
2    M Restaurants take inspiration from six differ...
3    Boasting an AA Rosette, Miyako is a serene han...
4    Situated in the heart of The City, Hawksmoor G...
Name: About Section, dtype: object

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [25]:
tfidf = TfidfVectorizer(stop_words='english')
meta_data['About Section'] = meta_data['About Section'].fillna('')
tfidf_matrix = tfidf.fit_transform(meta_data['About Section'])
tfidf_matrix.shape

(102, 2128)

In [26]:
tfidf.get_feature_names()[1000:1010]

['huts',
 'hwa',
 'hymn',
 'iberica',
 'ibericarestaurants',
 'ibérica',
 'idea',
 'ideal',
 'ideally',
 'ii']

In [23]:
from sklearn.metrics.pairwise import linear_kernel

In [28]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim.shape

(102, 102)

In [29]:
cosine_sim[1]

array([0.03502032, 1.        , 0.06618543, 0.03332834, 0.16553853,
       0.03867051, 0.02646854, 0.07698137, 0.10020757, 0.02398163,
       0.08721966, 0.04610012, 0.05604037, 0.05700762, 0.02768416,
       0.07238715, 0.03656732, 0.09315105, 0.02705909, 0.10858698,
       0.04103333, 0.01780643, 0.00676204, 0.08633974, 0.04514338,
       0.06841702, 0.06337484, 0.03251728, 0.02007578, 0.17132875,
       0.03795565, 0.00719673, 0.02389335, 0.0212326 , 0.03344808,
       0.06490088, 0.0443706 , 0.01679995, 0.08101555, 0.04976478,
       0.05427646, 0.01860124, 0.01177268, 0.08011055, 0.21793253,
       0.0264439 , 0.01293421, 0.00741033, 0.05339284, 0.06347272,
       0.00799782, 0.072114  , 0.08032297, 0.05354446, 0.01704401,
       0.03258325, 0.1150464 , 0.06029971, 0.02125866, 0.14407451,
       0.05512908, 0.01867254, 0.        , 0.06753106, 0.04538693,
       0.05812219, 0.02071976, 0.03496568, 0.07607711, 0.05305663,
       0.04553104, 0.00301496, 0.04225253, 0.0596115 , 0.0395322 ,
       0.01412178, 0.003275  , 0.06007879, 0.05389678, 0.10075377,
       0.05523077, 0.03609268, 0.07966562, 0.05521231, 0.05415803,
       0.01631329, 0.02831159, 0.01102248, 0.03361412, 0.10837507,
       0.07220896, 0.03520706, 0.00614819, 0.00203071, 0.03045064,
       0.        , 0.03045064, 0.02059169, 0.01804104, 0.02681539,
       0.04664259, 0.11029318])

In [30]:
indices = pd.Series(meta_data.index, index=meta_data['Restaurant_name']).drop_duplicates()
indices[:10]

Restaurant_name
Eastway Brasserie                  0
Gaucho City                        1
M Threadneedle Street              2
Miyako at Andaz                    3
Hawksmoor Guildhall                4
Piazza Italiana                    5
Kaia at The Ned                    6
Cabotte                            7
Lutyens Grill at The Ned           8
Electric Bar & Diner at The Ned    9
dtype: int64

In [34]:
def get_recommendations(name, cosine_sim=cosine_sim):
    idx = indices[name]
    
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    sim_scores = sim_scores[1:11]
    
    restaurants_indices = [i[0] for i in sim_scores]
    
    return meta_data['Restaurant_name'].iloc[restaurants_indices]

In [35]:
get_recommendations('Kenza')

19                               MBER
10                       Caravan City
7                             Cabotte
53                  Hithe + Seek\nNEW
49             The Quality Chop House
57    Kirin Chinese Restaurant London
5                     Piazza Italiana
0                   Eastway Brasserie
82                      Mumbai Square
4                 Hawksmoor Guildhall
Name: Restaurant_name, dtype: object

In [37]:
meta_data['Cuisine_Type'].unique()

array(['British ', 'Steak', 'Steakhouse', 'Japanese', 'Italian',
       'Pan-Asian', 'French', 'American', 'Deli', 'Global, International',
       'Californian', 'Tapas / Small Plates', 'Spanish',
       'Modern European ', 'Asian', 'Indian', 'Pizzeria',
       'Contemporary British ', 'Vegan', 'Burgers', 'Wine Bar',
       'Contemporary Asian', 'Chinese', 'Portuguese', 'Mediterranean',
       'Chinese (Canton) ', 'Seafood', 'Bar / Lounge / Bottle Service ',
       'Lebanese', 'Thai', 'Gastro Pub', 'International', 'Pub',
       'European', 'English', 'Pizza Bar', 'Korean'], dtype=object)